.container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  border-radius: 15px;
  box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.445);
  padding: 1.5rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.header-row {
  display: flex;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.header-row p {
  max-width: 400px;
  min-width: 100px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(78, 78, 78);

  width: 100%;
}

.application {
  display: flex;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.container p {
  max-width: 400px;
  min-width: 100px;
  font-size: 1rem;

  width: 100%;
}

.empty-list {
  padding: 2rem;
  text-align: center;
  color: grey;
}
