td {
  
  max-width: 200px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0;
}

.notes {
  min-width: 200px;
  max-width: 350px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.row {
  background-color: var(--secondary-bg);
}

.darker {
  background-color: var(--bg-color);
}

.date {
  font-size: 16px;
}

.action-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: -1;
}

.action-icon {
  width: 20px;
  height: 20px;
  border: none;
}

/* .row td::after {
  content: "";
  display: block;
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  height: 1px;
} */

.interview {
  color: rgb(0, 167, 233);
  background-color: rgb(196, 238, 255);
}

.offer {
  color: rgb(32, 175, 47);
  background-color: rgb(211, 255, 215);
}
.rejected {
  color: rgb(212, 0, 0);
  background-color: rgb(255, 204, 204);
}
