thead {
  position: sticky;
  top: 0;
  background-color: var(--secondary-bg);
  z-index: 10;
}

.tr {
  max-width: 800px;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

tr  th {
  padding: 1.5rem 1.7rem;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

table {
  position: relative;
  border-spacing: 0;
  /* margin: 0 auto; */

  /* box-shadow: 0 2px 4px rgba(8, 5, 5, 0.1); */
}

.notes {
  min-width: 200px;
}

.add-button {
  margin: 25px auto;
}
