.greeting {
  font-family: "Author-bold", sans-serif;
  color: oklch(37.2% 0.044 257.287);
  padding-bottom: 2rem;
  text-align: left;
  margin-left: 1rem;
}

h3 {
  margin-top: -10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}
p {
  margin: 0;
  min-width: 100px;
  font-size: 0.9rem;
}

.dashboard {
  background-color: #fefefe;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 8px;
  /* height: 100%; */
}

.heading {
  width: 100%;
  text-align: center;
}

.overview {
  max-width: 600px;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  gap: 2rem;
}

.overview-item {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-row {
  padding: 0.2rem 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
