@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --accent-blue: #3b82f6;
  --page-bg: #ffffff;
  --text-color: #070307;
  --greyish: #f2f2f2;
  --darkbg: #070307;
  --darkgray: #1f1c1f;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-roboto);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

/* picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

img {
  width: 100%;
  /* max-width: 420px; */
  /* border-radius: 8px; */
  object-fit: cover;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
