.nav-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
}
.nav-list * {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkslategray;
  text-decoration: none;
}

.header {
  background-color: azure;
  padding: 2rem;
  text-align: center  ;
}
