nav {
  width: 100%;
}

h2 {
  padding: 2rem;
  text-align: center;
}

.authButton {
  /* border: 1px solid hsl(0, 0%, 13%);
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Author-bold", sans-serif;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
  margin: 2rem; */

  width: 150px;
  margin: 0 auto;
  height: 50px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logoutButton {
  width: 150px;
  margin: 0 auto;
  height: 50px;
  background-color: transparent;
  color: rgb(43, 43, 43);
  border: 1 px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logoutButton:hover {
  background-color: #dadada;
  color: #212529;
  transition: background-color 0.3s, color 0.3s;
}

.authButton:hover {
  background-color: var(--accent-color);
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.authButton:active {
  transform: scale(0.95);
}

.sidebar {
  background-color: oklch(100% 0.00011 271.152);
  max-width: 250px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.nav-list li {
  width: 100%;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  justify-content: center;
}

li a {
  font-family: "Author-semibold", sans-serif;
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.link-active {
  color: oklch(100% 0.00011 271.152);
  background-color: var(--accent-color);
  transition: background-color 1s;
}

.link-active * {
  color: #fff;
}

.full {
  width: 100%;
  text-align: center;
}
