.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.selector {
  max-width: 120px;

  width: 100%;
  height: 33px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
}

.selector-holder {
  display: flex;
  flex-direction: column;
  max-width: 125px;
  width: 100%;
}

.add-button {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: #04aa3b;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

label {
  margin: 0;
}
